[generic]
verbose = true
netbox_base_url = http://host.lan:port
authkey = verylongkeyfromnetbox 

[dnsmasq]

[dnsmasq_dhcp]
output_file = /tmp/dhcp_new.conf
lease_file = /var/cache/dnsmasq/dnsmasq-dhcp.leasefile
authoritive = true

default_lease_time_range = 600m
default_lease_time_host = 90m
host_range_offset_min = 129
host_range_offset_max = 190

default_domain = koeroo.lan
default_ntp_server = 192.168.1.2
