[generic]
verbose = true
netbox_base_url = http://host.lan:port
authkey = verylongkeyfromnetbox 

[dnsmasq_dhcp]
output_file = /tmp/dhcp_new.conf
lease_file = /var/cache/dnsmasq/dnsmasq-dhcp.leasefile
authoritive = true

default_lease_time_range = 600m
default_lease_time_host = 90m
host_range_offset_min = 129
host_range_offset_max = 190

default_domain = koeroo.lan
default_ntp_server = 192.168.1.2

# boot_filename = netboot.xyz.kpxe
# boot_servername = netboot.xyz
# boot_address = 192.168.123.45

# override_dns_server = 192.168.1.2

prefix_in_scope_by_tag = dnsmasq_generator
default_gateway_per_prefix_identified_by_tag = net_default_gateway
selected_range_in_prefix_by_tag = net_dhcp_range


[powerdns_rec]
zonefile = /tmp/zonefile
zonefile_in_addr = /tmp/zonefile_in_addr
domain = koeroo.lan
zonefile_footer = zonefile.footer.example

[prefix:192.168.200.0/24]
gateway = 192.168.200.1
dns = 192.168.200.2
ntp = 192.168.200.1